body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #3498db; /* Fondo azul */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.container {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #2980b9;
}
.toggle-button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.toggle-button{
  background-color: #2980b9;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 300px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
}
  


.top-images {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}
.top-images img {
  width: 30%;
  max-width: 100px;
  height: auto;
}
